<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <title>后台管理</title>
    <%= stylesheet_link_tag "admin/public", "admin/query", "admin/list" %>
    <%= javascript_include_tag "prototype", "public/form_validate", "public/constants", "admin/admin" %>
  </head>
  <body>
    <% if session[:admin_id] %>
      <div style="float:left;width:25%;">
        <span><%= menu_image("tree_root.gif", "absbottom") %> 操作菜单</span><br>
        <span>
          <%= menu_image("tree_linemiddle.gif", "absbottom") %>
          <%= menu_image("tree_folderopen.gif", "absmiddle") %> 装备管理
        </span><br>
        <%= render :partial => "admin/menu", :locals => {:content => [["散件管理", "/admin/equipment"], ["PVE套装管理", "/admin/pve_suits"], ["PVP套装管理", "/admin/pvp_suits"]]} %>
        <span>
          <%= menu_image("tree_linemiddle.gif", "absbottom") %>
          <%= menu_image("tree_folderopen.gif", "absmiddle") %> <%= link_to "代练组管理", admin_dealers_url %>
        </span><br>
        <span>
          <%= menu_image("tree_linebottom.gif", "absbottom") %>
          <%= menu_image("tree_folderopen.gif", "absmiddle") %>
          <%= link_to "退出登录", admin_session_url, {:method => :delete} %>
        </span><br>
      </div>
    <% end %>
    <div style="float:left;padding:10px;min-width: 600px;">
      <% if flash[:notice] %><div class="msg_box"><%= flash[:notice] %></div><% end %>
      <%= yield :layout %>
    </div>
  </body>
</html>